<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.stettsen.mealmaster">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/meal_master_logo_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/meal_master_logo_small"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //Splash Screen as main
        <activity android:name=".SplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".SplashPage">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EnterRecipe"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EnterIngredient"
            android:parentActivityName=".EnterRecipe">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".viewFoodInventory" />
        <activity android:name=".addInstructions" />
        <activity
            android:name=".WhatCanIMakeFromWhatIHave"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WhatCanIMakeFromWhatIHave" />
        </activity>
        <activity android:name=".ViewShoppingList" />
        <activity
            android:name=".RecipeBrowserEX"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".viewRecipe" />
        <activity android:name=".EnterFoodToInventory" />
    </application>

</manifest>